/* Verander de achtergrondkleur van de pagina */
body, .stApp {
    background-color: #ADD5F0;
}

/* Verander de achtergrondkleur van de header */
[data-testid=stHeader] {
    background-color: #EAF0F7;
}

/* Verander de achtergrondkleur van de sidebar */
[data-testid=stSidebar] {
    background-color: #10133F;
}
[data-testid=stRadio]>label>div>p,[data-baseweb=radio]>div>div>p {
    color:white;
}

/* Hoofdtekst en kopteksten aanpassen */
h1, h2, h3, h4, [data-testid=stMarkdownContainer]>h1 {
    color: white;  
}

[data-testid=stMarkdownContainer]>div>p {
    color: red;  
}

[data-testid=stHeadingWithActionElements]>h1 {
    color: #182866
}

[data-testid=stHeadingWithActionElements]>h2 {
    color: #182866
}

[data-testid=stHeadingWithActionElements]>h3 {
    color: #182866
}


/* Styling voor knoppen */
.stButton>button {
    background-color: #182866;
    color: white;
    border-radius: 10px;
    border: 2px solid #182866;  /* Donkerblauwe rand voor de knoppen */
}

/* Styling voor selectboxen */
.stSelectbox select {
    border: none !important;  /* Verwijder de rand van de selectboxen */
    border-radius: 5px;
}

